.menuContainer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 8rem;
  background-color: #cbdbea;
  margin-bottom: 25px;

  .menuNameContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .menuImage {
      height: 80px;
    }

    .menuName {
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      color: #515d72;
    }
  }
}
