.buyTicketsContainer {
  padding: 1em 1.4rem;
  width: 100%;
  height: 32em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media only screen and (max-width: 800px) {
    width: 100vw;
  }
  @media only screen and (max-width: 600px) {
    height: 213vw;
    padding-right: 1.9rem;
  }
  .buyTicketsPlaneSchema {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 22%;
    padding-right: 6%;
    background: url('../../assets/img/airplane-seats.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    @media only screen and (max-width: 850px) {
      width: 100%;
      padding-left: 30%;
      padding-right: 1%;
    }

    @media only screen and (max-width: 600px) {
      background: url('../../assets/img/airplane-seats-mobile.jpg');
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      padding-left: 2.5%;
      padding-top: 40%;
    }
  }

  .buyTicketsForms {
    margin: 0 1.4rem;
    margin-bottom: 2rem;

    input {
      width: 260px;
      background-color: #e8ebed;
      border: 1px solid rgb(196, 194, 194);
      min-height: 30px;
      margin-top: 1.5rem;
      font-size: 1.25rem;
      padding: 0.1rem;
      padding-left: 0.6rem;

      :first-child {
        margin-top: 1.5rem;
      }
    }
    .priceField {
      width: 260px;
      background-color: #e8ebed;
      border: 1px solid rgb(196, 194, 194);
      min-height: 30px;
      margin-top: 1.5rem;
      font-size: 1.25rem;
      padding: 0.1rem;
      padding-left: 0.6rem;
      color: gray;
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
    }
  }
}
